#wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #444;
}
#content {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}
#pause-animation {
    width: 200px;
    height: 50px;
    background-color: #ff0;
}